/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.root {
    -fx-base: rgba(60, 63, 65, 255);
    -fx-font-size: 1.5em;
}

.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
}

