/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.root {
    -fx-base: #3c3f41;
    -fx-font-size: 1.2em;
    -fx-default-button: derive(-fx-accent,-55%);
    -fx-focus-color: #d30000;
    -fx-faint-focus-color: #d3000022;
    -fx-accent: #a00000;
}
.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
}

.tree-view {
    -fx-background-color: transparent;
}

.tree-cell {
    -fx-background: derive(-fx-base,26.4%);
}

/*Keeps the slection color when the treeview looses focus*/
.tree-cell:filled:selected {
    -fx-background: -fx-selection-bar;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.split-pane {
    -fx-background-color: transparent;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 1.4em;
}

.dialog-pane > .content.label {
    -fx-font-size: 1em;
}

.popover > .border {
    -fx-fill: -fx-background;
    /*Fix for the blurry content in a popover from controlsfx*/
    -fx-stroke-width: 1;
}

.popover > .content > .title > .text  {
    -fx-text-fill: -fx-text-background-color;
}

.popover > .content > .title > .icon > .graphics > .circle {
    -fx-fill: whitesmoke;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,.2), 3, 0.5, 1.0, 1.0);
}
/*For the invalidation of a checkbox*/
.check-box-incorrect:selected > .box > .mark,
.check-box-incorrect:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: black;
}

.check-box-incorrect > .box {
    /* background color of unselected checkbox */
    -fx-background-color: crimson;
}