.root {
    -fx-base: #3c3f41;
    -fx-default-button: derive(-fx-accent, -55%);
    -fx-focus-color: #365880;
    -fx-faint-focus-color: #4C708C22;
    -fx-accent: #4B6EAF;
}

/*For the invalidation of a checkbox*/
.check-box-incorrect:selected > .box > .mark,
.check-box-incorrect:indeterminate > .box > .mark {
    /* modify mark color */
    -fx-background-color: black;
}

.check-box-incorrect > .box {
    /* background color of unselected checkbox */
    -fx-background-color: -fx-accent;
}

/*
 * Statements
 * Should be in sync with the class sharknoon.dualide.ui.styles.StyleClasses
 */

.textStatementCallItemName {
    -fx-fill: #FFC66D;
}

.textStatementCallItemFunctionBrackets {
    -fx-fill: #28acef;
}

.textStatementCallItemArrow {
    -fx-fill: white;
}

/*
 * Workspace
 */
.rectangleWorkspace {
    -fx-stroke: BLACK;
    -fx-stroke-width: 10;
    -fx-stroke-type: OUTSIDE;
    -fx-fill: #00000070;
}

.rectangleSelection {
    -fx-stroke: BLUE;
    -fx-stroke-width: 1;
    -fx-fill: #ADD8E666;
}

/*
 * Sites
 */
.textWelcomeSiteRecentlyUsed {
    -fx-font-size: 40;
}

.textWelcomeSiteProjectListTitle,
.textSiteItemName {
    -fx-font-size: 30;
}

.textWelcomeSiteProjectListDate {
    -fx-font-size: 20;
}

.textVariableSite,
.textWelcomeSiteRecentlyUsed,
.textWelcomeSiteProjectListTitle,
.textSiteItemName,
.textWelcomeSiteProjectListDate {
    -fx-effect: dropshadow(three-pass-box, whitesmoke, 10, 0.5, 0, 0);
}

.textVariableSite,
.textWelcomeSiteRecentlyUsed,
.textWelcomeSiteProjectListTitle,
.textSiteItemName,
.textWelcomeSiteProjectListDate {
    -fx-fill: black;
}