/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.root {
    -fx-base: #3c3f41;
    -fx-font-size: 1.5em;
    -fx-default-button: #333333;
    -fx-focus-color: #d30000;
    -fx-faint-focus-color: #d3000022;
}
.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
}

/*Keeps the slection color when the treeview looses focus*/
.tree-cell:filled:selected {
    -fx-background: -fx-selection-bar;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.split-pane {
    -fx-background-color: transparent;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 1.4em;
}

.dialog-pane > .content.label {
    -fx-font-size: 1em;
}